*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.container li{
    list-style: none;
}
.container {
    /* width: 100%; */
    /* height: 100vh; */
    /* background: #fff; */
    display: flex;
    padding:10px;
    border-radius: solid 2px;
    /* align-items: center; */
    justify-content: center;
    font-family: 'Anton', sans-serif;
}
.container p{
     border: 1px solid white;
     height:80px;
}
.container li{
    border-radius: 20px;
    border: 1px solid white;
    padding:10px;
    margin-top:10px;
}
.tarje h1{
    font-family: 'Anton', sans-serif;
    color: black;
    font-size:30px;
}
.block ul{
    display: flex
}
.des{
    font-family: 'Anton', sans-serif;
    padding:30px;
}
.tarje   {
    /* width: 650px; */
    height: 130px;
    /* background: #fff; */
    padding: 20px;
    box-shadow: 0 20px 60px #f55951bd;
    border-radius: 25px;
}

.container .tarje{
    width: 30%;
}

.tarje-image img {
    width: 100%;
    height: 800px;
    padding:10px;
    border-radius: 30px;
}

.tarje-image {
    border-radius:50px;
}
.tarjeta-text h3{
    text-align:right;
}

.descrip p{
    padding:30px;
}

.but button{
    border-radius:7px;
    /* max-width:200px; */
    height:40px;
    background-color:rgb(160, 202, 216);
    cursor: pointer;
}