body{
    background-color: black;
    margin-bottom:-480px;
}
.subtitle{
    color: transparent;
    font-size: 500px;
    font-family: 'Anton', sans-serif;
    width: 100%;
    background-image: url("C:\Users\Maxi\Desktop\Developer\Codigo-Henry\p.ivideogames_resulto\Videogames_web\PI-Videogames-main\client\src\imagenes_y_mas\itexto.jpg");
    background-size: cover;
    background-position-y: center;
    -webkit-background-clip: text;
    margin-top: 100px;
    
}
.title{
    color: white;
    margin-bottom:-200px;
    margin-top:50px;
    margin-right: 1000px;
    font-family: 'Dancing Script', cursive;

}

.conten{
    margin-top: 100px;
}
.but{
    text-decoration: none;

}
.button{

    font-size:18px;
    padding: 1em 2.4em;
    font-weight: 700;
    letter-spacing: 2px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    transition: 250ms ease-in-out;
    margin-top:-450px;
    position:absolute;
    cursor:pointer;
    cursor:hand;



/*
    text-decoration:none;
    width:300px;
    height:90px;
    border-radius:10px;
    font-size:30px;
    margin-left: 350px;
    background-color:azure; */

}
.button:hover{
        color: white;
        box-shadow: 
        0 0 50px 50px #72bfe9 inset,
        0 0 10px #fff4f4;
}